.img {
    background: url(images/1.png);
    height: 308px;
    width: 830px;
    position: absolute;

 }
 body {
    margin: 0;
    height: 100%;
    background: skyblue;
  }
  
  .dnd__zona {
    position: relative;
    display: block;
    margin: 20px auto;
    z-index: 999;
  }
  
  .set__width_height {
    z-index: -999;
  }
  
  .lorem-wrap {
    display: flex;
    position: absolute;
    background-color: green;
    z-index: 9999;
  }
  
  .lorem {
    padding: 10px;
    background-color: #aaff66;
    position: relative;
    top: 0;
    text-align: center;
    cursor: move;
    user-select: none;
  }
  
  .remove__button {
    display: flex;
    order: 1;
    background: #FFF;
    border: none;
  }
  


/*.miniWindow{
    width: 96px;
    position: absolute;
    left: 25px;
    top: 25px;
}
.miniWindow1{
    width: 96px;
    position: absolute;
    left: 600px;
    top: 110px;
}
.miniWindow2{
    width: 96px;
    position: absolute;
    left: 60px;
    top: 256px;
}
.text {
    color: #ffffff;
    padding: 1px 0 2px 0;
    background-color: rgba(34,34,34,.75);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
}
.remove__button {
    font-size: 17px;
    position: absolute;
    color: #ffffff;
    padding: 15px 19px 15px 19px;
    border: 1px #000000;
    background-color: rgba(34,34,34,.75);
    right: -50px;
    top: -17px;
    display: none;
}
#active {
    display: block;
}
.draggable{
    cursor: pointer;
}
.zona {
    background: url(images/1.png) no-repeat center;
    width: 600px;
    height: 300px;
    margin: auto;
}
<<<<<<< HEAD
.remove_buttot {
    display: flex;
    order: 1;
    background: #FFF;
    border: none;
}
.lorem-wrap{
    display: flex;
    position: absolute;
    background-color: green;
    z-index: 9999;
    box-shadow: 6px 6px 5px #888888;
}
.lorem{
    padding: 10px;
    background-color: #aaff66;
    position: relative;
    top: 0;
    text-align: center;
    cursor: move;
}
.dnd_zona {
    position: relative;
    display: block;
    margin: 20px auto;
    z-index: 999;
}
#hiddenImg {
    height: 308px;
     width: 830px;
} */
=======
.dnd {
    width: 300px;
    height: 300px;
    background: gold;
}
.x {
    text-align: center;
    height: 20px;
    width: 30px;
    background: none;
    color: #fff;
    border: none;
}
>>>>>>> temp-branch
